html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: "Roboto Mono", monospace;
}

::selection {
  background-color: #aaa8f9;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 650px;
}
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #505050;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

a {
  color: #505050;
}
a:hover {
  font-weight: bold;
}

.game {
  margin-bottom: 50px;
}

.game img {
  width: 80%;
}

.game video {
  width: 80%;
}

.links {
  margin: 25px 0;
}
.links a:not(:last-child) {
  padding: 0 16px 0 0;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }
}

.about {
  line-height: 24px;
  margin-bottom: 30px;
}

.about br {
  display: block;
  content: "";
  height: 15px;
}
